html,
body,
.app {
  height: 100vh;
  padding: 1em;
  background: lightgrey;
}

.messages {
  /* height: 385px; */
  overflow-y: scroll;
}

.message__form {
  z-index: 200;
  height: auto;
}

.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}